.crash{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.crash-container{
    margin-top: 30px;
    background: rgba(10, 16, 62, 0.957);
    height: 100%;
    width: 90%;
    border-radius: 10px;
}
.crash-controller{
    width: 30%;
    height: 570px;
    padding-bottom: 7px;
    border-radius: 10px 0 0 10px;
    background: rgba(33, 39, 84, 0.957);
}
.crash-controller-nav{
    width: 100%;
    position: relative;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crash-controller-nav-container{
    width: 90%;
    display: flex;
    background: rgba(2, 6, 36, 0.522);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
}
.crash-controller-nav-content{
    width: 100%;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.crash-controller-nav-content .active{
    background: rgba(63, 70, 120, 0.957);
    padding: 8px 35px;
    border-radius: 30px;
    transition: 0.5s ease;
}
.crash-controller-nav-content .active:hover{
    background: rgba(81, 88, 135, 0.957);
}
.manual-crash{
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}
.manual-corash-container{
    padding: 0px;
    margin: 0;
    display: block;
    width: 100%;
}
.manual-corash-container .manaul-control{
    padding: 10px;
    margin: 0;
}
.manaul-control .manual-control-label{
    display: flex;
    color: rgba(169, 173, 203, 0.957);
    font-weight: 500;
    font-size: 12px;
    width: 100%;
    padding: 5px 0;
    position: relative;
}
.manual-control-label-content{
    width: 30%;
    padding: 0;
}
.manual-control-label-content-amount{
    text-align: flex-end;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.manaul-control-input{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.164);
    background: rgba(63, 70, 120, 0.957);
}
.manaul-control-input-content{
    display: flex;
    width: 70%;
    border-radius: 4px 0 0 4px;
    background: rgba(2, 6, 36, 0.522);
}
.manaul-control-input-content-pro{
    display: flex;
    width: 100%;
    border-radius: 4px;
    background: rgba(2, 6, 36, 0.522);
}
.manaul-control-input-content .image{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.manaul-control-input-content-pro .image{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.manaul-control-input-content .input{
    margin: 5px;
}
.manaul-control-input-content-pro .input{
    margin: 5px;
    width: 86%;
}
.manaul-control-input-content img{
    width: 20px;
}
.manaul-control-input-content-pro img{
    width: 20px;
}
.manaul-control-input-content input{
    font-weight: 600;
    background: none;
    width: 143px;
    outline: none;
    border: none;
    font-size: 13px;
    color: rgba(169, 173, 203, 0.957);
}
.manaul-control-input-content-pro input{
    font-weight: 600;
    background: none;
    outline: none;
    border: none;
    font-size: 13px;
    color: rgba(169, 173, 203, 0.957);
}
.manaul-control-input-content input::placeholder{
    color: rgba(169, 173, 203, 0.957);
}
.manaul-control-input-content-pro input::placeholder{
    color: rgba(169, 173, 203, 0.957);
}
.manual-control-btn{
    width: 30%;
    padding: 0;
    margin: 0;
    display: flex;
}
.manual-control-btn .half,.manual-control-btn .double{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
}
.manual-control-btn .half{
    border-right: 2px solid rgba(6, 11, 46, 0.522) ;
}
.manual-control-btn .half:hover,.manual-control-btn .double:hover{
    background: rgba(15, 22, 72, 0.522);
}
.manual-control-btn button{
    background: none;
    cursor: pointer;
    border: none;
    color: rgba(169, 173, 203, 0.957);
}
.bet-btn{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 50px;
}
.bet-btn-container{
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bet-btn-container button{
    padding: 7px;
    width: 95%;
    background: rgb(13, 177, 13);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}
.bet-btn-container button:hover{
    background: rgb(13, 122, 13);
}
.players-history{
    padding: 0;
    margin: 0;
    width: 100%;
}
.crash-history{
    padding: 5px;
}
.crash-history-header{
    display: flex;
    position: relative;
    color: rgba(169, 173, 203, 0.957);
    font-size: 11.4px;
    font-weight: 600;
}
.crash-history-header .total-players span{
    color: #fff;
    padding: 0px 5px;
}
.crash-history-header .total-players{
    width: 100%;
}
.crash-history-header .total-amount {
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    padding-right: 10px;
    gap: 5px;
    justify-content: flex-end;
}

.crash-history-header .total-amount img{
    width: 13px;
}
.crash-history-container{
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    color: #41436d;
    align-items: center;
    font-size: 12px;
    font-style: italic;
    background: rgba(2, 6, 36, 0.522);
}
.crash-footer{
    margin-top: 30px;
    width: 100%;
    background: black;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crash-footer img{
    width: 130px;

}